body {
    background-color:black;
    font-family: 'Arial', Gadget, sans-serif;
    font-weight: 200;
}

h1 {
    color: gray;
}

.main {
    display: inline-block;    
    margin-left: 40px;
    background-color: white;
    width: fit-content;
    border-radius: 25px;
    
}

.title {
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 30px;
    font: 30px 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    font-weight: 500;
}

#datatable, #results {
    margin-left: 60px;
    
}

#results {
    padding-left: 5px;
    display: none;
}

td {
    display: inline-block;
    column-width: 120px;
    line-height: 25px;
}

#compute {
    margin-bottom: 10px;
}

#copyright {
    margin-left: 20px;
    margin-right: 30px;
}

#years {
    width: 35px
}

#ph1, #ph2, #ph3, #ph4 {
    background-color: yellow;
}